.box{
	padding: 5px;
	padding-top: 10px;
	margin: auto;
	height: 500px;
	width: 300px;
	border: 1px solid black;
	background: rgba(0,0,0,0.3);


}

h1 {
	text-align: center;
}
p{
	text-align: center;
}
